<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>menu_child</key>
		<dict>
			<key>粮食</key>
			<dict>
				<key>红小豆</key>
				<string>16</string>
				<key>绿豆</key>
				<string>15</string>
				<key>大豆</key>
				<string>13</string>
				<key>谷子</key>
				<string>11</string>
				<key>高粱</key>
				<string>10</string>
				<key>玉米</key>
				<string>9</string>
				<key>马铃薯</key>
				<string>7</string>
				<key>糯稻</key>
				<string>6</string>
				<key>灿稻</key>
				<string>5</string>
				<key>早稻</key>
				<string>3</string>
			</dict>
			<key>油料</key>
			<dict>
				<key>葵花籽</key>
				<string>21</string>
				<key>芝麻</key>
				<string>20</string>
				<key>花生</key>
				<string>19</string>
			</dict>
			<key>棉花</key>
			<dict>
				<key>棉花</key>
				<string>23</string>
			</dict>
			<key>生麻</key>
			<dict>
				<key>生麻</key>
				<string>24</string>
			</dict>
			<key>烟叶</key>
			<dict>
				<key>晒烟</key>
				<string>30</string>
				<key>烤烟</key>
				<string>29</string>
			</dict>
			<key>中草药材</key>
			<dict>
				<key>中草药材</key>
				<string>31</string>
			</dict>
			<key>蔬菜（含菜用瓜）</key>
			<dict>
				<key>蔬菜</key>
				<string>32</string>
			</dict>
			<key>瓜果</key>
			<dict>
				<key>西瓜</key>
				<string>34</string>
				<key>香瓜</key>
				<string>35</string>
			</dict>
			<key>花卉</key>
			<dict>
				<key>花卉</key>
				<string>36</string>
			</dict>
			<key>其他农作物</key>
			<dict>
				<key>蕉芋</key>
				<string>39</string>
				<key>席草</key>
				<string>38</string>
				<key>青饲料</key>
				<string>40</string>
				<key>绿肥</key>
				<string>41</string>
				<key>其他</key>
				<string>42</string>
			</dict>
		</dict>
		<key>menu_main</key>
		<string>春播农作物面积</string>
		<key>identifer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>menu_child</key>
		<dict>
			<key>粮食</key>
			<dict>
				<key>小麦</key>
				<string>5</string>
				<key>大麦</key>
				<string>6</string>
				<key>甘薯</key>
				<string>7</string>
				<key>马铃薯</key>
				<string>8</string>
				<key>杂豆</key>
				<string>10</string>
			</dict>
			<key>油料</key>
			<dict>
				<key>油菜籽</key>
				<string>13</string>
			</dict>
			<key>中草药材</key>
			<dict>
				<key>中草药材</key>
				<string>15</string>
			</dict>
			<key>蔬菜（含菜用瓜）</key>
			<dict>
				<key>蔬菜</key>
				<string>16</string>
			</dict>
			<key>瓜果（果用瓜）</key>
			<dict>
				<key>西瓜</key>
				<string>18</string>
				<key>香瓜</key>
				<string>19</string>
			</dict>
			<key>花卉</key>
			<dict>
				<key>花卉</key>
				<string>22</string>
			</dict>
			<key>其他农作物</key>
			<dict>
				<key>青饲料</key>
				<string>24</string>
				<key>绿肥</key>
				<string>25</string>
				<key>其他</key>
				<string>16</string>
			</dict>
		</dict>
		<key>menu_main</key>
		<string>春收农作物播种面积和产量</string>
		<key>identifer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>identifer</key>
		<string>3</string>
		<key>menu_main</key>
		<string>夏播农作物面积</string>
		<key>menu_child</key>
		<dict>
			<key>粮食</key>
			<dict>
				<key>灿稻</key>
				<string>5</string>
				<key>糯稻</key>
				<string>6</string>
				<key>甘薯</key>
				<string>13</string>
				<key>马铃薯</key>
				<string>14</string>
				<key>玉米</key>
				<string>16</string>
				<key>高粱</key>
				<string>17</string>
				<key>谷子</key>
				<string>18</string>
				<key>大豆</key>
				<string>20</string>
				<key>绿豆</key>
				<string>22</string>
				<key>红小豆</key>
				<string>23</string>
			</dict>
			<key>油料</key>
			<dict>
				<key>花生</key>
				<string>26</string>
				<key>芝麻</key>
				<string>27</string>
				<key>葵花籽</key>
				<string>28</string>
				<key>其他</key>
				<string>29</string>
			</dict>
			<key>中草药材</key>
			<dict>
				<key>中草药材</key>
				<string>30</string>
			</dict>
			<key>蔬菜（含菜用瓜）</key>
			<dict>
				<key>蔬菜</key>
				<string>31</string>
			</dict>
			<key>瓜果（果用瓜）</key>
			<dict>
				<key>西瓜</key>
				<string>33</string>
				<key>香瓜</key>
				<string>34</string>
			</dict>
			<key>花卉</key>
			<dict>
				<key>花卉</key>
				<string>35</string>
			</dict>
			<key>其他农作物</key>
			<dict>
				<key>茉莉花</key>
				<string>37</string>
				<key>木薯</key>
				<string>38</string>
				<key>莲籽</key>
				<string>39</string>
				<key>菱角</key>
				<string>40</string>
				<key>瓜籽</key>
				<string>41</string>
				<key>青饲料</key>
				<string>42</string>
				<key>绿肥</key>
				<string>43</string>
				<key>其他</key>
				<string>44</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>menu_main</key>
		<string>夏收农作物面积和产量</string>
	</dict>
	<dict>
		<key>menu_main</key>
		<string>农业生产条件</string>
	</dict>
	<dict>
		<key>menu_main</key>
		<string>农业生产经营单位农作物播种情况</string>
	</dict>
	<dict>
		<key>menu_main</key>
		<string>蔬菜及特种作物生产情况</string>
	</dict>
</array>
</plist>
